<phpunit
        bootstrap="../bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">../</directory>
            <exclude>.</exclude>
            <exclude>../config</exclude>
            <exclude>./Helpers</exclude>
        </testsuite>
    </testsuites>
</phpunit>
